body {
  background-color: #ecf2f9;
}

* {
  font-family: 'Roboto';
}

.wrapper {
  width: 30%;
  word-wrap: break-word;
  word-break: normal;
  margin: 0 auto;
  margin-bottom: 100px;
}

.first {
  width: 85%;
  word-wrap: break-word;
  word-break: normal;
  margin: 0 auto;
}

.light-typo {
  font-weight: 300;
  font-size: 1em;
  color: #4d4d4d;
}

.footer {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow-x: hidden;
}

.footer-left {
  width: 60%;
  word-wrap: break-word;
  word-break: normal;
  margin: 0 auto;
  padding-right: 30px;
}

.footer-right {
  width: 60%;
  word-wrap: break-word;
  word-break: normal;
  margin: 0 auto;
  padding-left: 30px;
}

a {
  color: #595959;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 1em;
  color: #4d4d4d;
  font-weight: 400;
}

li {
  font-weight: 300;
  font-size: 0.9em;
  color: #4d4d4d;
  list-style-type: none;
}

h1, h2, h3, h4 {
  color: #333333;
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: -5px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: -10px;
  margin-top: 50px;
}

h3 {
  margin-bottom: -10px;
  font-style: italic;
}

h4 {
  margin-bottom: -8px;
  font-style: italic;
}

.bold {
  font-weight: bold;
  color: #333333;
}

.italic {
  font-style: italic;
}

@media screen and (max-width: 415px) {
  .wrapper {
    width: 80%;
    margin-bottom: 20px;
  }

  .footer {
    display: block;
    width: 90%;
  }

  .footer-left, .footer-right {
    width: 80%;
  }
}

@media screen and (min-width: 568px) and (max-width: 1023px) {
  .wrapper {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer {
    width: 80%;
    display: block;
  }

  .footer-right {
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1370px) {
  .wrapper {
    width: 40%;
  }

  .footer {
    width: 70%;
  }
}
